@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');



@import " reset.css";

/* Block */
@import "block/header.css";
@import "block/info_main.css";
@import "block/main_terrain.css";
@import "block/contact.css";
