@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');



@import "/css/reset.css";

/* Block */
@import "/css/block/header.css";
@import "/css/block/info_main.css";
@import "/css/block/main_terrain.css";
@import "/css/block/contact.css";
