.place_contact {
    padding-left: 16px;
}

.place_contact-title {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: clamp(1.375rem, 1.046rem + 1.65vw, 3rem);
    line-height: 133%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #c39b54;
    margin-bottom: 32px;
}

.place_contact-adress{
    margin-bottom: 24px;
}

.place_contact-adress-home {
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.05em;
    color: #305b67;
    opacity: 0.4;
    margin-bottom: 12px;
}

.place_contact-adress-hotel{
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.05em;
    color: #305b67;
}


.place_contact-phone {
margin-bottom: 24px;
}


.place_footer img{
    width: 100vw;
    margin-bottom: 24px;
}
.place_request {
    padding-left: 16px;
    padding-right: 16px;

}

.place_request-title {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 22px;
    line-height: 133%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #c39b54;
}

.form-group {
    border: 1px solid #c39b54;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.input {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.05em;
    opacity: 0.4;
}
.input::placeholder{
    color: #c39b54;
}
.form_check{
    font-weight: 400;
    font-size: 11px;
    line-height: 126%;
    letter-spacing: 0.05em;
    color: #c39b54;
    margin-bottom: 10px;
}
.button_contact{
    border-radius: 40px;
    padding: 18px 20px;
    background: #c39b54;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fcfaf3;
    text-align: center;
    margin-bottom: 30px;
}

.place_footer-desk img{
    display: none;
}

.cart-modal_overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.40) ;
    align-items: center;
    justify-content: center;
}

.cart-modal_overlay.open{
    display: flex;
}
.cart-modal_left{
    width: 558px;
    height: 497px;
    background-image: url(/img/main_green.jpg);
    padding: 73px 91px 0 90px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.cart-modal_right{
    display: flex;
    flex-direction: column;
    width: 574px;
    height: 497px;
    background-image: url(/img/modal.png);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

form{
    width: 282px;
}

.place_request-title-modal{
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 32px;
    line-height: 133%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcfaf3;
    margin-bottom: 10px;
}

.cart-modal_left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.05em;
    color: #fcfaf3;
    margin-bottom: 30px;
}
.form-group-modal{
    border: 1px solid #FCFAF3;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.cart-modal_left .form_check{
    color: #FCFAF3;
}

.img_cart{
    align-self: flex-end;
    padding-top: 23px;
    padding-right: 18px;
}

@media (min-width:900px) {
    .place_footer{
        padding-left: 85px;
        padding-right: 75px;
    }
    .place_footer img{
        display: none;
    }
    .place{
        display: flex;
        padding-top: 69px;
        padding-bottom: 115px;
    }
    .place_footer-desk img{
        display: block;
        width: 100%;
        max-height: 602px;
    }
    .place_footer-desk{
        align-self:  center;
    }
}

@media (min-width:1200px) {
    .place_footer{
        padding-left: 175px;
        padding-right: 150px;
    }
}