
:root{
    --font-base: 'Exo 2', sans-serif;
    --font-accent:'Tenor sans', sans-serif;
}

body{
    font-family: var(--font-base);
    background-color: #FDFBF5;
}

.menu__list{
    display: flex;
    width: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #C39668;
    color: #FCFAF3;
    flex-direction: column;
    text-align: start;
    font-size: 16px;
    transform: translateY(-100%);
    transition: transform 0.5s;
    gap: 24px;
}
.menu.menu--open .menu__list{ 
    transform: translateY(0%);
}
.menu__item{
    padding-left: 54px;
    
}
.menu__list-button img{
    padding-left: 17px;
}

.menu__link{
font-weight: 400;
font-size: 16px;
letter-spacing: 0.05em;
color: #fcfaf3;
}

.menu_phone{
    margin-top: 20px;
    padding-left: 54px;
}
.menu__list-button{
    padding-top: 10px;
    align-self: flex-end;   
    padding-right: 26px;
}

.header {
    width: 100vw;
    height: clamp(600px, 50%, 860px);
    background-image: url(/img/header_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 16px;
    margin-bottom: 69px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
    padding-top: 17px;
}

.header__botton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__botton-title{
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: clamp(1.375rem, 1.046rem + 1.65vw, 3rem);
    line-height: 133%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fcfaf3;
    margin-bottom: 24px;
}
.btn {
    border-radius: 40px;
    padding: 18px 20px;
    background: #c39b54;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fcfaf3;
    margin-bottom: 278px;
}
.header__bottom-city {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.header__bottom-city-card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card_aylta {
    margin: 0 15px;
}

.header__bottom-city span{
    border: 1px solid #fff;
    width: clamp(15px, 322vw, 322px);
    margin-top: 30px;
}

.header__bottom-city-text {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: clamp(0.75rem, 0.699rem + 0.25vw, 1rem);
    letter-spacing: 0.05em;
    text-align: center;
    color: #c39b54;

}
.header__bottom-city-time {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: clamp(0.75rem, 0.699rem + 0.25vw, 1rem);
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    white-space: nowrap;
}
.header__bottom-city-img {
    border-radius: 50px;
    min-width: 52px;
}

.header__top-logo-big{
    display: none;
}

.btn_desk{
    display: none;
    border-radius: 40px;
    padding: 18px 20px;
    background: #00000000;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fcfaf3;
    border: 1px solid #fcfaf3;
}
.btn_menu{
    border-radius: 40px;
    padding: 18px 20px;
    background: #00000000;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fcfaf3;
    border: 1px solid #fcfaf3;
}
.menu_phone a{
    display: block;
    margin-bottom: 24px;
}

.header_top-number-desj{
    display: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fff;
}





@media (min-width:789px){
    .header {
    width: 100vw;
    height: clamp(600px, 50%, 860px);
    background-image: url(/img/header_1-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
}
@media (min-width:990px) {
    .header__top-logo{
        display: none;
    }
    .header__top-logo-big{
        display: block;
        margin-right: 50px;
    }
    .header__top-phone{
        display: none;
    }
    .btn_desk{
        display: block;
    }
    .header_top-number-desj{
        display: block;
    }
    .header__bottom-city{
        margin-bottom: 144px;
    }
    .header__bottom-city-img {
        min-width: 73px;
    }
    .header{
    margin-bottom: 20px;
    }
    .header__top-left{
    display: flex;
    gap: 94px;
}


}

@media (min-width: 1168px) {
    .container{
        max-width: 1168px;
        margin: 0 auto;
    }
}
