.info_home {
    background-image: url(/img/main_hotel.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 100px;
}

.info_home-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: start;
}
.info_home-card-title:nth-child(-n+4) {
  grid-column: 1;
}

.info_home-card-parameters{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #c39b54;
}
.info_home-card-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: 0.05em;
  color: #305b67;
}

.info_home-card-title:nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}

.info_home-card-title:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.info_home-card-title {
    height: 162px;
    border-bottom: 1px solid #305B67;
    border-right: 1px solid #305B67;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.info_home-card-img {
    width: 36px;
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 16px;
}

@media (min-width:635px){
  .info_home {
      background-image: url(/img/export_desk.svg);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 100%;
  }
}

@media (min-width:1000px){
  .info_home-card-title:nth-child(-n+4) {
    grid-column: auto;
  }
  .info_home-card-title:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }
  .info_home-card-title:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .info_home-card-title{
    border-bottom: 0px;
    border-right: 0px;
  }
  .info_home-card-title:nth-child(-n+4){
    border-bottom: 1px solid #305B67;
  }
  .info_home-card-title:nth-child(odd){
    border-right: 1px solid #305B67;
  }
  .info_home-card{
    max-width: 640px;
    padding-bottom: 153px;
  }
}
